@{
    ViewBag.Title = "GetContactInfo (담당자 정보 확인)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br />
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li>id (아이디) : @Model.id</li>
            <li>personName (담당자 성명) : @Model.personName</li>
            <li>tel (담당자 휴대푠) : @Model.tel</li>
            <li>email (담당자 메일) : @Model.email</li>
            <li>regDT (등록일시) : @Model.regDT</li>
            <li>searchRole (권한) : @Model.searchRole</li>
            <li>mgrYN (역할) : @Model.mgrYN</li>
            <li>state (계정상태) : @Model.state</li>
        </ul>
    </fieldset>
</div>
