@{
    ViewBag.Title = "GetDetailInfo (상세정보 확인)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li> mgtKey (현금영수증 문서번호) : @Model.mgtKey</li>
            <li> confirmNum (국세청 승인번호) : @Model.confirmNum</li>
            <li> orgConfirmNum (원본 현금영수증 국세청승인번호) : @Model.orgConfirmNum</li>
            <li> orgTradeDate (원본 현금영수증 거래일자) : @Model.orgTradeDate</li>
            <li> tradeDate (거래일자) : @Model.tradeDate</li>
            <li> tradeDT (거래일시) : @Model.tradeDT</li>
            <li> tradeType (문서형태) : @Model.tradeType</li>
            <li> tradeUsage (거래구분) : @Model.tradeUsage</li>
            <li> tradeOpt (거래유형) : @Model.tradeOpt</li>
            <li> taxationType (과세형태) : @Model.taxationType</li>
            <li> totalAmount (거래금액) : @Model.totalAmount</li>
            <li> supplyCost (공급가액) : @Model.supplyCost</li>
            <li> tax (부가세) : @Model.tax</li>
            <li> serviceFee (봉사료) : @Model.serviceFee</li>
            <li> franchiseCorpNum (가맹점 사업자번호) : @Model.franchiseCorpNum</li>
            <li> franchiseCorpName (가맹점 상호) : @Model.franchiseCorpName</li>
            <li> franchiseCEOName (가맹점 대표자 성명) : @Model.franchiseCEOName</li>
            <li> franchiseAddr (가맹점 주소) : @Model.franchiseAddr</li>
            <li> franchiseTEL (가맹점 전화번호) : @Model.franchiseTEL</li>
            <li> identityNum (식별번호) : @Model.identityNum</li>
            <li> customerName (주문자명) : @Model.customerName</li>
            <li> itemName (주문상품명) : @Model.itemName</li>
            <li> orderNumber (주문번호) : @Model.orderNumber</li>
            <li> email (주문자 이메일) : @Model.email</li>
            <li> hp (주문자 휴대폰) : @Model.hp</li>
            <li> smssendYN (발행 안내문자(SMS) 전송여부) : @Model.smssendYN</li>
            <li> cancelType (취소사유) : @Model.cancelType</li>
        </ul>
    </fieldset>
</div>
