@{
    ViewBag.Title = "GetFaxDetail (전송내역 확인)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        @{
            int i = 0;
            foreach (var list in Model)
            {
                i++;
                <fieldset class="fieldset2">
                    <legend> 전송내역 확인 [ @i / @Model.Count ]</legend>
                    <ul>
                        <li> state (전송상태 코드) : @list.state</li>
                        <li> result (전송결과 코드) : @list.result</li>
                        <li> sendNum (발신번호) : @list.sendNum</li>
                        <li> senderName (발신자명) : @list.senderName</li>
                        <li> receiveNum (수신번호) : @list.receiveNum</li>
                        <li> receiveName (수신자명) : @list.receiveName</li>
                        <li> receiveNumType (수신번호 유형) : @list.receiveNumType</li>
                        <li> title (팩스제목) : @list.title</li>
                        <li> sendPageCnt (전체 페이지수) : @list.sendPageCnt</li>
                        <li> successPageCnt (성공 페이지수) : @list.successPageCnt</li>
                        <li> failPageCnt (실패 페이지수) : @list.failPageCnt</li>
                        <li> cancelPageCnt (취소 페이지수) : @list.cancelPageCnt</li>
                        <li> reserveDT (예약일시) : @list.reserveDT</li>
                        <li> receiptDT (접수일시) : @list.receiptDT</li>
                        <li> sendDT (발송일시) : @list.sendDT</li>
                        <li> resultDT (전송결과 수신일시) : @list.resultDT</li>
                        <li>
                            fileNames (전송파일명 리스트) :
                            @{
                                foreach (var files in @list.fileNames)
                                {
                                    <span> @files </span>
                                }
                            }
                        </li>
                        <li> receiptNum (접수번호) : @list.receiptNum</li>
                        <li> requestNum (요청번호) : @list.requestNum</li>
                        <li> chargePageCnt (과금 페이지수) : @list.chargePageCnt</li>
                        <li> refundPageCnt (환불 페이지수) : @list.refundPageCnt</li>
                        <li> tiffFileSize (변환파일용랑(단위 : byte)) : @list.tiffFileSize</li>
                    </ul>
                </fieldset>
            }
        }
    </fieldset>
</div>

