@{
    ViewBag.Title = "GetMessages(RN) (전송내역 학인)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li> state (전송상태 코드) : @Model.state</li>
            <li> result (전송결과 코드) : @Model.result</li>
            <li> sendNum (발신번호) : @Model.sendNum</li>
            <li> senderName (발신자명) : @Model.senderName</li>
            <li> receiveNum (수신번호) : @Model.receiveNum</li>
            <li> receiveName (수신자명) : @Model.receiveName</li>
            <li> title (팩스제목) : @Model.title</li>
            <li> sendPageCnt (전체 페이지수) : @Model.sendPageCnt</li>
            <li> successPageCnt (성공 페이지수) : @Model.successPageCnt</li>
            <li> failPageCnt (실패 페이지수) : @Model.failPageCnt</li>
            <li> refundPageCnt (환불 페이지수) : @Model.refundPageCnt</li>
            <li> cancelPageCnt (취소 페이지수) : @Model.cancelPageCnt</li>
            <li> reserveDT (예약일시) : @Model.reserveDT</li>
            <li> receiptDT (접수일시) : @Model.receiptDT</li>
            <li> sendDT (발송일시) : @Model.sendDT</li>
            <li> resultDT (전송결과 수신일시) : @Model.resultDT</li>
            <li> fileNames (전송파일명 리스트) : </li>
            <li> receiptNum (접수번호) : @Model.receiptNum</li>
            <li> requestNum (요청번호) : @Model.requestNum</li>
            <li> chargePageCnt (과금 페이지수) : @Model.chargePageCnt</li>
            <li> tiffFileSize (변환파일용랑) : @Model.tiffFileSize</li>
        </ul>
    </fieldset>
</div>
