@{
    ViewBag.Title = "GetContactInfo (담당자 정보 확인)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br />
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li>id (담당자 아이디) : @Model.id</li>
            <li>personName (담당자 성명) : @Model.personName</li>
            <li>email (담당자 이메일) : @Model.email</li>
            <li>tel (담당자 연락처) : @Model.tel</li>
            <li>regDT (등록일시) : @Model.regDT</li>
            <li>searchRole (담당자 조회권한) : @Model.searchRole</li>
            <li>mgrYN (관리자 여부) : @Model.mgrYN</li>
            <li>state (상태) : @Model.state</li>
        </ul>
    </fieldset>
</div>
