@{
    ViewBag.Title = "GetTaxinvoice (상세정보 확인 - JSON)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li> writeDate (작성일자) : @Model.writeDate </li>
            <li> issueDT (발행일시) : @Model.issueDT </li>
            <li> invoiceType (전자세금계산서 종류) : @Model.invoiceType </li>
            <li> taxType (과세형태) : @Model.taxType </li>
            <li> taxTotal (세액 합계) : @Model.taxTotal </li>
            <li> supplyCostTotal (공급가액 합계) : @Model.supplyCostTotal </li>
            <li> totalAmount (합계금액) : @Model.totalAmount </li>
            <li> purposeType (영수/청구) : @Model.purposeType </li>
            <li> seriaNum (일련번호) : @Model.seriaNum </li>
            <li> cash (현금) : @Model.cash </li>
            <li> chkBill (수표) : @Model.chkBill </li>
            <li> credit (외상) : @Model.credit </li>
            <li> note (어음) : @Model.note </li>
            <li> remark1 (비고1) : @Model.remark1 </li>
            <li> remark2 (비고2): @Model.remark2 </li>
            <li> remark3 (비고3): @Model.remark3 </li>
            <li> ntsconfirmNum (국세청승인번호) : @Model.ntsconfirmNum </li>

            <li> modifyCode (수정사유코드) : @Model.modifyCode </li>
            <li> orgNTSConfirmNum (원본 전자세금계산서 국세청승인번호) : @Model.orgNTSConfirmNum </li>

@*             @{ *@
@*                 int i = 0; *@
@*                 foreach (var detailList in Model.detailList) *@
@*                 { *@
@*                     i++; *@
@*                     <fieldset class="fieldset2"> *@
@*                         <legend>상세항목(품목) 정보 [ @i / @Model.detailList.Count ]</legend> *@
@*                         <ul> *@
@*                             <li> serialNum (일련번호) : @detailList.serialNum </li> *@
@*                             <li> purchaseDT (거래일자) : @detailList.purchaseDT </li> *@
@*                             <li> itemName (품명) : @detailList.itemName </li> *@
@*                             <li> spec (규격) : @detailList.spec </li> *@
@*                             <li> qty (수량) : @detailList.qty </li> *@
@*                             <li> unitCost (단가) : @detailList.unitCost </li> *@
@*                             <li> supplyCost (공급가액) : @detailList.supplyCost </li> *@
@*                             <li> tax (세액) : @detailList.tax </li> *@
@*                             <li> remark (비고) : @detailList.remark </li> *@
@*                         </ul> *@
@*                     </fieldset> *@
@*                 } *@
@*             } *@

            <li> invoicerCorpNum (공급자 사업자번호) : @Model.invoicerCorpNum </li>
            <li> invoicerMgtKey (공급자 문서관리번호) : @Model.invoicerMgtKey </li>
            <li> invoicerTaxRegID (공급자 종사업장번호) : @Model.invoicerTaxRegID </li>
            <li> invoicerCorpName (공급자 상호) : @Model.invoicerCorpName </li>
            <li> invoicerCEOName (공급자 대표자명) : @Model.invoicerCEOName </li>
            <li> invoicerAddr (공급자 주소) : @Model.invoicerAddr </li>
            <li> invoicerBizType (공급자 업태) : @Model.invoicerBizType </li>
            <li> invoicerBizClass (공급자 종목) : @Model.invoicerBizClass </li>
            <li> invoicerContactName (공급자 담당자명) : @Model.invoicerContactName </li>
            <li> invoicerTEL (공급자 담당자 연락처) : @Model.invoicerTEL </li>
            <li> invoicerHP (공급자 담당자 휴대폰) : @Model.invoicerHP </li>
            <li> invoicerEmail (공급자 담당자 메일) : @Model.invoicerEmail </li>
            <li> invoiceeCorpNum (공급받는자 사업자번호) : @Model.invoiceeCorpNum </li>
            <li> invoiceeType (공급받는자 구분) : @Model.invoiceeType </li>
            <li> invoiceeMgtKey (공급받는자 문서관리번호) : @Model.invoiceeMgtKey </li>
            <li> invoiceeTaxRegID (공급받는자 종사업장번호) : @Model.invoiceeTaxRegID </li>
            <li> invoiceeCorpName (공급받는자 상호) : {{taxinvoice.invoiceeCorpName </li>
            <li> invoiceeCEOName (공급받는자 대표자명) : {{taxinvoice.invoiceeCEOName </li>
            <li> invoiceeAddr (공급받는자 주소) : {{taxinvoice.invoiceeAddr </li>
            <li> invoiceeBizType (공급받는자 업태) : {{taxinvoice.invoiceeBizType </li>
            <li> invoiceeBizClass (공급받는자 종목) : {{taxinvoice.invoiceeBizClass </li>
            <li> invoiceeContactName1 (공급받는자 담당자명) : {{taxinvoice.invoiceeContactName1 </li>
            <li> invoiceeDeptName1 (공급받는자 부서명) : {{taxinvoice.invoiceeDeptName1 </li>
            <li> invoiceeTEL1 (공급받는자 담당자 연락처) : {{taxinvoice.invoiceeTEL1 </li>
            <li> invoiceeEmail1 (공급받는자 담당자 이메일) : {{taxinvoice.invoiceeEmail1 </li>
            <li> trusteeCorpNum (수탁자 사업자번호) : {{taxinvoice.trusteeCorpNum </li>
            <li> trusteeMgtKey (수탁자 문서관리번호) : {{taxinvoice.trusteeMgtKey </li>
            <li> trusteeTaxRegID (수탁자 종사업장번호) : {{taxinvoice.trusteeTaxRegID </li>
            <li> trusteeCorpName (수탁자 상호) : {{taxinvoice.trusteeCorpName </li>
            <li> trusteeCEOName (수탁자 대표자명) : {{taxinvoice.trusteeCEOName </li>
            <li> trusteeAddr (수탁자 주소) : {{taxinvoice.trusteeAddr </li>
            <li> trusteeBizType (수탁자 업태) : {{taxinvoice.trusteeBizType </li>
            <li> trusteeBizClass (수탁자 종목) : {{taxinvoice.trusteeBizClass </li>
            <li> trusteeContactName (수탁자 담당자명) : {{taxinvoice.trusteeContactName </li>
            <li> trusteeTEL (수탁자 담당자 연락처) : {{taxinvoice.trusteeTEL </li>
            <li> trusteeHP (수탁자 담당자 휴대폰) : {{taxinvoice.trusteeHP </li>
            <li> trusteeEmail (수탁자 담당자 메일) : {{taxinvoice.trusteeEmail </li>
        </ul>
    </fieldset>
</div>
