@{
  ViewBag.Title = "Search (수집 결과 조회)";
}

<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>@ViewData["Title"]</legend>
    <ul>
      <li>code (응답코드) : @Model.code</li>
      <li>message (응답메시지) : @Model.message</li>
      <li>total (총 검색결과 건수) : @Model.total</li>
      <li>perPage (페이지당 검색개수) : @Model.perPage</li>
      <li>pageNum (페이지당 번호) : @Model.pageNum</li>
      <li>pageCount (페이지 개수) : @Model.pageCount</li>
    </ul>

    @{
      int i = 0;
      foreach (var list in Model.list)
      {
        i++;
        <fieldset class="fieldset2">
          <legend>세금계산서 상태/요약정보 확인 [ @i / @Model.list.Count ]</legend>
          <ul>
            @* @list[0].invoiceType *@
            @* <li>itemKey (팝빌 관리번호) : @list.itemKey</li> *@
            @* <li>taxType (과세형태) : @list.taxType</li> *@
            @* <li>writeDate (작성g일자) : @list.writeDate</li> *@
            @* <li>regDT (등록일자) : @list.regDT</li> *@
            @* <li>issueType (발행형태) : @list.issueType</li> *@
            @* <li>supplyCostTotal (공급가액 합계) : @list.supplyCostTotal</li> *@
            @* <li>taxTotal (세액 합계) : @list.taxTotal</li> *@
            @* <li>purposeType (영수/청구) : @list.purposeType</li> *@
            @* <li>issueDT (발행일시) : @list.issueDT</li> *@
            @* <li>lateIssueYN (지연발행 여부) : @list.lateIssueYN</li> *@
            @* <li>interOPYN (연동문서 여부) : @list.interOPYN</li> *@
            @* <li>preIssueDT (발행예정일시) : @list.preIssueDT</li> *@
            @* <li>openYN (개봉 여부) : @list.openYN</li> *@
            @* <li>openDT (개봉 일시) : @list.openDT</li> *@
            @* <li>stateMemo (상태메모) : @list.stateMemo</li> *@
            @* <li>stateCode (상태코드) : @list.stateCode</li> *@
            @* <li>nstconfirmNum (국세청승인번호) : @list.ntsconfirmNum</li> *@
            @* <li>ntsresult (국세청 전송결과) : @list.ntsresult</li> *@
            @* <li>ntssendDT (국세청 전송일시) : @list.ntssendDT</li> *@
            @* <li>ntsresultDT (국세청 결과 수신일시) : @list.ntsresultDT</li> *@
            @* <li>ntssendErrCode (전송실패 사유코드) : @list.ntssendErrCode</li> *@
            @* <li>modifyCode (수정 사유코드) : @list.modifyCode</li> *@
            @* *@
            @* <li>invoicerCorpName (공급자 상호) : @list.invoicerCorpName</li> *@
            @* <li>invoicerCorpNum (공급자 사업자번호) : @list.invoicerCorpNum</li> *@
            @* <li>invoicerMgtKey (공급자 문서관리번호) : @list.invoicerMgtKey</li> *@
            @* <li>invoicerPrintYN (공급자 인쇄여부) : @list.invoicerPrintYN</li> *@
            @* *@
            @* <li>invoiceeCorpName (공급받는자 상호) : @list.invoiceeCorpName</li> *@
            @* <li>invoiceeCorpNum (공급받는자 사업자번호) : @list.invoiceeCorpNum</li> *@
            @* <li>invoiceePrintYN (공급받는자 관리번호) : @list.invoiceePrintYN</li> *@
            @* <li>closeDownState (공급받는자 휴패업상태코드) : @list.closeDownState</li> *@
            @* <li>closeDownStateDate (공급받는자 휴폐업일자) : @list.closeDownStateDate</li> *@
            @* *@
            @* <li>trusteeCorpName (수탁자 상호) : @list.trusteeCorpName</li> *@
            @* <li>trusteeCorpNum (수탁자 사업자번호) : @list.trusteeCorpNum</li> *@
            @* <li>trusteeMgtKey (수탁자 문서관리번호) : @list.trusteeMgtKey</li> *@
            @* <li>trusteePrintYN (수탁자 인쇄여부) : @list.trusteePrintYN</li> *@
          </ul>
        </fieldset>
      }
    }
  </fieldset>
</div>

