@{
    ViewBag.Title = "GetMessages (전송내역 확인)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li>contentType (카카오톡 유형) : @Model.contentType</li>
            <li>templateCode (템플릿 코드) : @Model.templateCode</li>
            <li>plusFriendID (플러스친구 아이디) : @Model.plusFriendID</li>
            <li>sendNum (발신번호) : @Model.sendNum</li>
            <li>altContent ([동보]대체문자 내용) : @Model.altContent</li>
            <li>altSendType (대체문자 전송유형) : @Model.altSendType</li>
            <li>reserveDT (예약일시) : @Model.reserveDT</li>
            <li>adsYN (광고전송 여부) : @Model.adsYN</li>
            <li>imageURL (친구톡 이미지 URL) : @Model.imageURL</li>
            <li>sendCnt (전송건수) : @Model.sendCnt</li>
            <li>successCnt (성공건수) : @Model.successCnt</li>
            <li>failCnt (실패건수) : @Model.failCnt</li>
            <li>altCnt (대체문자 건수) : @Model.altCnt</li>
            <li>cancelCnt (취소건수) : @Model.cancelCnt</li>

            @{
                int i = 0;
                foreach (var msgs in @Model.msgs)
                {
                    i++;
                    <fieldset class="fieldset3">
                        <legend> 개별 전송 내역 [ @i / @Model.msgs.Count ]</legend>
                        <ul>
                            <li> state (전송상태 코드) : @msgs.state</li>
                            <li> sendDT (전송일시) : @msgs.sendDT</li>
                            <li> receiveNum (수신번호) : @msgs.receiveNum</li>
                            <li> receiveName (수신자명) : @msgs.receiveName</li>
                            <li> content (알림톡/친구톡 내용) : @msgs.content</li>
                            <li> result (전송결과 코드) : @msgs.result</li>
                            <li> resultDT (전송결과 수신일시) : @msgs.resultDT</li>
                            <li> altContent (대체문자 내용) : @msgs.content</li>
                            <li> altContentType (대체문자 전송유형) : @msgs.altContentType</li>
                            <li> altSendDT (대체문자 전송일시) : @msgs.altSendDT</li>
                            <li> altResult (대체문자 전송결과 코드) : @msgs.altResult</li>
                            <li> altResultDT (대체문자 전송결과 수신일시) : @msgs.altResultDT</li>
                            <li> receiptNum (접수번호) : @msgs.receiptNum</li>
                            <li> requestNum (요청번호) : @msgs.requestNum</li>
                        </ul>
                    </fieldset>
                }
            }

            @{
                if (@Model.btns != null)
                {
                    int j = 0;
                    foreach (var btns in @Model.btns)
                    {
                        j++;
                        <fieldset class="fieldset3">
                            <legend> 버튼정보 [ @j / @Model.btns.Count ]</legend>
                            <ul>
                                <li> n (버튼명) : @btns.n</li>
                                <li> t (버튼유형) : @btns.t</li>
                                <li> u1 (버튼링크1) : @btns.u1</li>
                                <li> u2 (버튼링크2) : @btns.u2</li>
                            </ul>
                        </fieldset>
                    }
                }
            }
        </ul>
    </fieldset>
</div>
