@{
    ViewBag.Title = "ListATSTemplate (알림톡 템플릿 목록 확인)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        @{
            int i = 0;
            foreach (var info in Model)
            {
                i++;
                <fieldset class="fieldset2">
                    <legend> 알림톡 템플릿 목록 확인 [ @i / @Model.Count ]</legend>
                    <ul>
                        <li>templateCode(템플릿 코드) : @info.templateCode</li>
                        <li>templateName(템플릿 제목) : @info.templateName</li>
                        <li>template(템플릿 내용) : @info.template</li>
                        <li>plusFriendID(검색용 아이디) : @info.plusFriendID</li>
                        <li>ads(광고 메시지) : @info.ads</li>
                        <li>appendix(부가 메시지) : @info.appendix</li>

                        @{
                            if (info.btns != null)
                            {
                                int j = 0;
                                foreach (var btn in info.btns)
                                {
                                    j++;
                                    <fieldset class="fieldset3">
                                        <legend> 알림톡 템플릿 버튼 [ @j / @info.btns.Count ]</legend>
                                        <ul>
                                            <li> n(버튼명) : @btn.n </li>
                                            <li> t(버튼유형) : @btn.t </li>
                                            <li> u1(버튼링크) : @btn.u1 </li>
                                            <li> u2(버튼링크) : @btn.u2 </li>
                                        </ul>
                                    </fieldset>
                                }
                            }
                        }
                    </ul>
                </fieldset>
            }
        }
    </fieldset>
    <br/>
</div>
