@{
  ViewBag.Title = "GetDetailInfo (상세정보 확인)";
}

<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>@ViewData["Title"]</legend>
    <ul>
      <li>ntsconfirmNum (국세청승인번호) : @Model.ntsconfirmNum</li>
      <li>issueType (발행형태) : @Model.issueType</li>
      <li>taxType (과세형태) : @Model.taxType</li>
      <li>issueTiming (발행시점) : @Model.issueTiming</li>
      <li>chargeDirection (과금방향) : @Model.chargeDirection</li>
      <li>serialNum (일련번호) : @Model.serialNum</li>
      <li>kwon (권) : @Model.kwon</li>
      <li>ho (호) : @Model.ho</li>
      <li>writeDate (작성일자) : @Model.writeDate</li>
      <li>purposeType (영수/청구) : @Model.purposeType</li>
      <li>supplyCostTotal (공급가액 합계) : @Model.supplyCostTotal</li>
      <li>taxTotal (세액 합계) : @Model.taxTotal</li>
      <li>totalAmount (합계금액) : @Model.totalAmount</li>
      <li>cash (현금) : @Model.cash</li>
      <li>chkBill (수표) : @Model.chkBill</li>
      <li>credit (외상) : @Model.credit</li>
      <li>note (어음) : @Model.note</li>
      <li>remark1 (비고1) : @Model.remark1</li>
      <li>remark2 (비고2) : @Model.remark2</li>
      <li>remakr3 (비고3) : @Model.remark3</li>

      <li>invoicerMgtKey (공급자 관리번호) : @Model.invoicerMgtKey</li>
      <li>invoicerCorpNum (공급자 사업자번호) : @Model.invoicerCorpNum</li>
      <li>invoicerTaxRegID (공급자 종사업장 식별번호) : @Model.invoicerTaxRegID</li>
      <li>invoicerCorpName (공급자 상호) : @Model.invoicerCorpName</li>z
      <li>invoicerCEOName (공급자 대표자성명) : @Model.invoicerCEOName</li>
      <li>invoicerAddr (공급자 주소) : @Model.invoicerAddr</li>
      <li>invoicerBizClass (공급자 종목) : @Model.invoicerBizClass</li>
      <li>invoicerBizType (공급자 업태) : @Model.invoicerBizType</li>
      <li>invoicerContactName (담당자 성명) : @Model.invoicerContactName</li>
      <li>invoicerTEL (담당자 연락처) : @Model.invoicerTEL</li>
      <li>invoicerHP (담당자 휴대폰) : @Model.invoicerHP</li>
      <li>invoicerEmail (담당자 이메일) : @Model.invoicerEmail</li>
      <li>invoicerSMSSendYN (문자전송 여부) : @Model.invoicerSMSSendYN</li>

      <li>invoiceeMgtKey (공급받는자 문서관리번호) : @Model.invoiceeMgtKey</li>
      <li>invoiceeType (공급받는자 구분) : @Model.invoiceeType</li>
      <li>invoiceeCorpNum (공급받는자 사업자번호) : @Model.invoiceeCorpNum</li>
      <li>invoiceeTaxRegID (공급받는자 종사업장 식별번호) : @Model.invoiceeTaxRegID</li>
      <li>invoiceeCorpName (공급받는자 상호) : @Model.invoiceeCorpName</li>
      <li>invoiceeCEOName (공급받는자 대표자 성명) : @Model.invoiceeCEOName</li>
      <li>invoiceeAddr (공급받는자 주소) : @Model.invoiceeAddr</li>
      <li>invoiceeBizType (공급받는자 업태) : @Model.invoiceeBizType</li>
      <li>invoiceeBizClass (공급받는자 종목) : @Model.invoiceeBizClass</li>
      <li>closeDownState (휴폐업상태) : @Model.closeDownState</li>
      <li>closeDownStateDate (휴폐업일자) : @Model.closeDownStateDate</li>
      <li>invoiceeContactName1 (담당자 성명) : @Model.invoiceeContactName1</li>
      <li>invoiceeTEL1 (담당자 연락처) : @Model.invoiceeTEL1</li>
      <li>invoiceeHP1 (담당자 휴대폰) : @Model.invoiceeHP1</li>
      <li>invoiceeEmail1 (담당자 이메일) : @Model.invoiceeEmail1</li>

      <li>modifyCode (수정 사유코드) : @Model.modifyCode</li>
      <li>orgNTSConfirmNum (원본 국세청승인번호) : @Model.orgNTSConfirmNum</li>
      <li>originalTaxinvoiceKey (원본 팝빌 관리번호) : @Model.originalTaxinvoiceKey</li>

      @{
        int i = 0;
        foreach (var detailList in Model.detailList)
        {
          i++;
          <fieldset class="fieldset2">
            <legend>세금계산서 상세항목 [ @i / @Model.detailList.Count ]</legend>
            <ul>
              <li>serialNum (일련번호) : @detailList.serialNum</li>
              <li>purchaseDT (거래일자) : @detailList.purchaseDT</li>
              <li>itemName (품명) : @detailList.itemName</li>
              <li>spec (규격) : @detailList.spec</li>
              <li>qty (수량) : @detailList.qty</li>
              <li>unitCost (단가) : @detailList.unitCost</li>
              <li>supplyCost (공급가액) : @detailList.supplyCost</li>
              <li>tax (세액) : @detailList.tax</li>
              <li>remark (비고) : @detailList.remark</li>
            </ul>
          </fieldset>
        }
      }

      @{
        int j = 0;
        foreach (var addContactList in Model.addContactList)
        {
          j++;
          <fieldset class="fieldset2">
            <legend>추가담당자 정보 [ @j / @Model.addContactList.Count ]</legend>
            <ul>
              <li>serialNum (일련번호) : @addContactList.serialNum</li>
              <li>contactName (담당자 성명) : @addContactList.contactName</li>
              <li>email (담당자 메일주소) : @addContactList.email</li>
            </ul>
          </fieldset>
        }
      }
      <li>businessLicenseYN (사업자등록증 첨부) : @Model.businessLicenseYN</li>
      <li>bankBookYN (통장사본 첨부) : @Model.bankBookYN</li>
    </ul>
  </fieldset>
</div>
