@{
  ViewBag.Title = "GetInfos (상태대량확인)";
}

<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>@ViewData["Title"]</legend>

    @{
      int i = 0;
      foreach (var info in Model)
      {
        i++;
        <fieldset class="fieldset2">
          <legend>세금계산서 상태/요약정보 대량 확인 [ @i / @Model.Count ]</legend>
          <ul>
            <li>itemKey (팝빌 식별번호) : @info.itemKey</li>
            <li>taxType (과세형태) : @info.taxType</li>
            <li>writeDate (작성일자) : @info.writeDate</li>
            <li>regDT (임시저장 일시) : @info.regDT</li>

            <li>issueType (발행형태) : @info.issueType</li>
            <li>supplyCostTotal (공급가액 합계) : @info.supplyCostTotal</li>
            <li>taxTotal (세액 합계) : @info.taxTotal</li>

            <li>purposeType (영수/청구) : @info.purposeType</li>
            <li>issueDT (발행일시) : @info.issueDT</li>
            <li>lateIssueYN (지연발행 여부) : @info.lateIssueYN</li>

            <li>openYN (개봉 여부) : @info.openYN</li>
            <li>openDT (개봉 일시) : @info.openDT</li>
            <li>stateMemo (상태메모) : @info.stateMemo</li>
            <li>stateCode (상태코드) : @info.stateCode</li>
            <li>stateDT (상태 변경일시) : @info.stateDT</li>

            <li>nstconfirmNum (국세청승인번호) : @info.ntsconfirmNum</li>
            <li>ntsresult (국세청 전송결과) : @info.ntsresult</li>
            <li>ntssendDT (국세청 전송일시) : @info.ntssendDT</li>

            <li>ntsresultDT (국세청 결과 수신일시) : @info.ntsresultDT</li>
            <li>ntssendErrCode (국세청 결과코드) : @info.ntssendErrCode</li>

            <li>modifyCode (수정 사유코드) : @info.modifyCode</li>
            <li>interOPYN (연동문서 여부) : @info.interOPYN</li>

            <li>invoicerCorpName (공급자 상호) : @info.invoicerCorpName</li>
            <li>invoicerCorpNum (공급자 사업자번호) : @info.invoicerCorpNum</li>
            <li>invoicerMgtKey (공급자 문서번호) : @info.invoicerMgtKey</li>
            <li>invoicerPrintYN (공급자 인쇄여부) : @info.invoicerPrintYN</li>

            <li>invoiceeCorpName (공급받는자 상호) : @info.invoiceeCorpName</li>
            <li>invoiceeCorpNum (공급받는자 사업자번호) : @info.invoiceeCorpNum</li>
            <li>invoiceeMgtKey (공급받는자 문서번호) : @info.invoiceeMgtKey</li>
            <li>invoiceePrintYN (공급받는자 인쇄여부) : @info.invoiceePrintYN</li>

            <li>closeDownState (공급받는자 휴폐업상태) : @info.closeDownState</li>
            <li>closeDownStateDate (공급받는자 휴폐업일자) : @info.closeDownStateDate</li>

            <li>trusteeCorpName (수탁자 상호) : @info.trusteeCorpName</li>
            <li>trusteeCorpNum (수탁자 사업자번호) : @info.trusteeCorpNum</li>
            <li>trusteeMgtKey (수탁자 문서번호) : @info.trusteeMgtKey</li>
            <li>trusteePrintYN (수탁자 인쇄여부) : @info.trusteePrintYN</li>

          </ul>
        </fieldset>
      }
    }
  </fieldset>
</div>


