@{
    ViewBag.Title = "GetLogs (상태 변경이력 확인)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        @{
            int i = 0;
            foreach (var info in Model)
            {
                i++;
                <fieldset class="fieldset2">
                    <legend>세금계산서 문서상태 변경이력 [ @i / @Model.Count ]</legend>
                    <ul>
                        <li>docLogType (로그타입) : @info.docLogType</li>
                        <li>log (이력정보) : @info.log</li>
                        <li>procType (처리형태) : @info.procType</li>
                        <li>procCorpName (처리회사명) : @info.procCorpName</li>
                        <li>procContactName (처리담당자명) : @info.procContactName</li>
                        <li>procMemo (처리메모) : @info.procMemo</li>
                        <li>regDT (등록일시) : @info.regDT</li>
                        <li>ip (아이피) : @info.ip</li>
                    </ul>
                </fieldset>
            }
        }
    </fieldset>
</div>
