@{
  ViewBag.Title = "GetTaxCertInfo (인증서 정보 확인)";
}

<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>@ViewData["Title"]</legend>
    <ul>
        <li>regDT (등록일시) : @Model.regDT</li>
        <li>expireDT (만료일시) : @Model.expireDT</li>
        <li>issuerDN (발급자 DN) : @Model.issuerDN</li>
        <li>subjectDN (인증서 DN) : @Model.subjectDN</li>
        <li>issuerName (인증서 종류) : @Model.issuerName</li>
        <li>oid (OID) : @Model.oid</li>
        <li>regContactName (등록 담당자 성명) : @Model.regContactName</li>
        <li>regContactID (등록 담당자 아이디) : @Model.regContactID</li>
    </ul>
  </fieldset>
</div>


