@{
    ViewBag.Title = "GetStates (전송내역 요약정보 확인)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        @{
            int i = 0;
            foreach (var info in Model)
            {
                i++;
                <fieldset class="fieldset2">
                    <legend> 전송내역 요약정보 확인 [ @i / @Model.Count ]</legend>
                    <ul>
                        <li>rNum(접수번호) : @info.rNum</li>
                        <li>sn(일련번호) : @info.sn</li>
                        <li>stat(전송 상태코드) : @info.stat</li>
                        <li>rlt(전송 결과코드) : @info.rlt</li>
                        <li>sDT(전송일시) : @info.sDT</li>
                        <li>rDT(결과코드 수신일시) : @info.rDT</li>
                        <li>net(전송 이동통신사명) : @info.net</li>
                    </ul>
                </fieldset>
            }
        }
    </fieldset>
</div>
