@{
    ViewBag.Title = "Search (목록조회)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li>code (응답코드) : @Model.code</li>
            <li>message (응답메시지) : @Model.message</li>
            <li>total (총 검색결과 건수) : @Model.total</li>
            <li>perPage (페이지당 검색개수) : @Model.perPage</li>
            <li>pageNum (페이지당 번호) : @Model.pageNum</li>
            <li>pageCount (페이지 개수) : @Model.pageCount</li>
        </ul>

        @{
            int i = 0;
            foreach (var list in Model.list)
            {
                i++;
                <fieldset class="fieldset2">
                    <legend> 전송결과 정보 [ @i / @Model.list.Count ]</legend>
                    <ul>
                        <li> subject (제목) : @list.subject</li>
                        <li> content (메시지 내용) : @list.content</li>
                        <li> sendNum (발신번호) : @list.sendNum</li>
                        <li> senderName (발신자명) : @list.senderName</li>
                        <li> receiveNum (수신번호) : @list.receiveNum</li>
                        <li> receiveName (수신자명) : @list.receiveName</li>
                        <li> receiptDT (접수일시) : @list.receiptDT</li>
                        <li> sendDT (전송일시) : @list.sendDT</li>
                        <li> resultDT (전송결과 수신일시) : @list.resultDT</li>
                        <li> reserveDT (예약일시) : @list.reserveDT</li>
                        <li> state (전송상태 코드) : @list.state</li>
                        <li> result (전송결과 코드) : @list.result</li>
                        <li> type (메시지 유형) : @list.type</li>
                        <li> tranNet (전송처리 이동통신사명) : @list.tranNet</li>
                        <li> receiptNum (접수번호) : @list.receiptNum</li>
                        <li> requestNum (요청번호) : @list.requestNum</li>
                        <li> interOPRefKey (파트너 지정키) : @list.interOPRefKey</li>
                    </ul>
                </fieldset>
            }
        }
    </fieldset>
</div>

