@{
    ViewBag.Title = "GetFiles (첨부파일 목록 확인)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        @if (Model.Count == 0)
        {
            <ul>
                <li>첨부파일이 존재하지 않습니다.</li>
            </ul>
        }
        else
        {
            int i = 0;
            foreach (var file in Model)
            {
                i++;
                <fieldset class="fieldset2">
                    <legend>전자명세서 첨부파일 목록확인 [ @i ]</legend>
                    <ul>
                        <li>serialNum (일련번호) : @file.serialNum</li>
                        <li>attachedFile (파일아이디) : @file.attachedFile</li>
                        <li>displayName (첨부파일명) : @file.displayName</li>
                        <li>regDT (첨부파일 등록일시) : @file.regDT</li>
                    </ul>
                </fieldset>
            }
        }
    </fieldset>
</div>
