@{
    ViewBag.Title = "ListContact (담당자 목록 확인)";
}

<div id="content">
    <p class="heading1">Response</p>
    <br />
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        @{
            int i = 0;
            foreach (var info in Model)
            {
                i++;
                <fieldset class="fieldset2">
                    <legend>담당자 목록 확인 [ @i / @Model.Count ]</legend>
                    <ul>
                        <li>id (아이디) : @info.id</li>
                        <li>personName (담당자 성명) : @info.personName</li>
                        <li>tel 담당자 휴대폰) :@info.tel</li>
                        <li>email (담당자 메일) : @info.email</li>                        
                        <li>regDT (등록일시) : @info.regDT</li>
                        <li>searchRole (권한) : @info.searchRole</li>
                        <li>mgrYN (역할) : @info.mgrYN</li>
                        <li>state (계정상태) : @info.state</li>
                    </ul>
                </fieldset>
            }
        }
    </fieldset>
</div>